@import './base.css';

.bg-primary {
  background-color: var(--op-1);
}

.bg-dark {
  background-color: var(--op-4);
}

.bg-mark {
  background-color: var(--op-5);
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-style: none;
  transition: 0.3s;
  padding: 0.5rem;
}

input,
select {
  background-color: #eff1f6;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  transition: 0.2s;
  margin-right: 0.2em;
}

input:focus {
  outline: none;
  background-color: #313956 !important;
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.just-around {
  justify-content: space-around;
}
.just-end {
  justify-content: flex-end;
}
.just-start {
  justify-content: flex-start;
}
.just-center {
  justify-content: center;
}
.just-between {
  justify-content: space-between;
}
.just-evenly {
  justify-content: space-evenly;
}

.pt-1 {
  padding-top: 1em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}

.sm-input {
  width: 4em;
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  #app {
    width: 100vw;
    display: flex;
    justify-content: start;
  }
}
