#form-step-1 input {
    height: 3rem;
}
body {
    background-image: url("../bg.png");
    background-size: cover;
}
#next-btn {
    background-image: url("../long.jpg");
    background-size: cover;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
